html{
	background-color:rgb(136,189,160);
}




a{text-decoration: none; color:black;}
a:hover{color:blue;}

.Footer {
	
  position: absolute;
  bottom: 5px;
  background-color: white;
  border-top: 5px solid black;
  width:100%;
}

.allList{
    list-style-type: none;
    display:inline;
    list-style: none;
    flex:0 0 0%;
    width:1200px;
    
}
.allList>li{
    display:inline;
    color:rgb(0, 2, 0);
    margin:4%;
    text-align: justify;
    
}
