<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1</display-name>
  <welcome-file-list>
    <welcome-file>Home.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>JerseyContainer</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.revature.web</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ViewAllAccountsServlet</display-name>
    <servlet-name>ViewAllAccountsServlet</servlet-name>
    <servlet-class>com.revature.servlet.ViewAllAccountsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllAccountsServlet</servlet-name>
    <url-pattern>/viewAllAccounts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewAllAccountDetails</display-name>
    <servlet-name>viewAllAccountDetails</servlet-name>
    <servlet-class>com.revature.servlet.viewAllAccountDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewAllAccountDetails</servlet-name>
    <url-pattern>/viewAllAccountDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllTransactionsServlet</display-name>
    <servlet-name>ViewAllTransactionsServlet</servlet-name>
    <servlet-class>com.revature.servlet.ViewAllTransactionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllTransactionsServlet</servlet-name>
    <url-pattern>/viewAllTransactions</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ViewPendingAccountsServlet</display-name>
    <servlet-name>ViewPendingAccountsServlet</servlet-name>
    <servlet-class>com.revature.servlet.ViewPendingAccountsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPendingAccountsServlet</servlet-name>
    <url-pattern>/viewPendingAccounts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchAccountsViaUsernameServlet</display-name>
    <servlet-name>SearchAccountsViaUsernameServlet</servlet-name>
    <servlet-class>com.revature.servlet.SearchAccountsViaUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAccountsViaUsernameServlet</servlet-name>
    <url-pattern>/searchAccountViaUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DecideAccount</display-name>
    <servlet-name>DecideAccount</servlet-name>
    <servlet-class>com.revature.servlet.DecideAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DecideAccount</servlet-name>
    <url-pattern>/decideAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogInServlet</display-name>
    <servlet-name>LogInServlet</servlet-name>
    <servlet-class>com.revature.servlet.LogInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/logIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateNewUserServlet</display-name>
    <servlet-name>CreateNewUserServlet</servlet-name>
    <servlet-class>com.revature.servlet.CreateNewUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateNewUserServlet</servlet-name>
    <url-pattern>/createNewUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateNewAccountServlet</display-name>
    <servlet-name>CreateNewAccountServlet</servlet-name>
    <servlet-class>com.revature.servlet.CreateNewAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateNewAccountServlet</servlet-name>
    <url-pattern>/createNewAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMyAccounts</display-name>
    <servlet-name>ViewMyAccounts</servlet-name>
    <servlet-class>com.revature.servlet.ViewMyAccounts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMyAccounts</servlet-name>
    <url-pattern>/viewMyAccounts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerViewAccountDetailsServlet</display-name>
    <servlet-name>CustomerViewAccountDetailsServlet</servlet-name>
    <servlet-class>com.revature.servlet.CustomerViewAccountDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerViewAccountDetailsServlet</servlet-name>
    <url-pattern>/customerViewAccountDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositServlet</display-name>
    <servlet-name>DepositServlet</servlet-name>
    <servlet-class>com.revature.servlet.DepositServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositServlet</servlet-name>
    <url-pattern>/deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawServlet</display-name>
    <servlet-name>WithdrawServlet</servlet-name>
    <servlet-class>com.revature.servlet.WithdrawServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawServlet</servlet-name>
    <url-pattern>/withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostTransferServlet</display-name>
    <servlet-name>PostTransferServlet</servlet-name>
    <servlet-class>com.revature.servlet.PostTransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostTransferServlet</servlet-name>
    <url-pattern>/postTransfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferDAO</display-name>
    <servlet-name>TransferDAO</servlet-name>
    <servlet-class>com.revature.DAO.TransferDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferDAO</servlet-name>
    <url-pattern>/TransferDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMyPendingTransfersServlet</display-name>
    <servlet-name>ViewMyPendingTransfersServlet</servlet-name>
    <servlet-class>com.revature.servlet.ViewMyPendingTransfersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMyPendingTransfersServlet</servlet-name>
    <url-pattern>/viewMyPendingTransfers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DecideTransferServlet</display-name>
    <servlet-name>DecideTransferServlet</servlet-name>
    <servlet-class>com.revature.servlet.DecideTransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DecideTransferServlet</servlet-name>
    <url-pattern>/decideTransfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>com.revature.servlet.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/logOut</url-pattern>
  </servlet-mapping>
</web-app>